body {
	height: 200vh;
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	font-family: "Nunito", sans-serif;
}

nav {
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

#mainNav .navbar-brand {
	font-size: 2rem;
	font-weight: 700;
}

#navLinks {
	font-size: 1.3rem;
}

#navLinks li {
	margin-right: 2rem;
}

#navLinks .nav-link {
	position: relative;
	display: inline-block;
}

#navLinks .nav-link::before {
	content: "";
	display: block;
	height: 0.2rem;
	background: rgba(37, 187, 233, 0.493);
	position: absolute;
	top: -0.01rem;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: transform ease-in-out 200ms;
}

#navLinks .nav-link:hover::before {
	transform: scale(1, 1);
}

.login-button:hover {
	background-color: transparent;
	border-color: #007bff;
	color: #007bff;
}

/* nav ends here */

.main-section {
	margin-top: 15rem;
}

.motto {
	background: #f7f7f7bb;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 30px;
}

/* motto ends here */

.sign-in-form,
.sign-up-form {
	background: #f7f7f7bb;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 30px;
}

.main-section .form-control,
.btn {
	min-height: 38px;
	border-radius: 4px;
}

.main-section .btn {
	font-weight: bold;
}

.sign-up-form {
	display: none;
}

.fade-in {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* user form ends here */
