*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

a {
	color: white;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
}
nav {
	background: #222;
	width: 100%;
	padding: 2rem 2.5rem 0 2.5rem;
	position: fixed;
}
.section-home {
	height: 100vh;
	background: url("/assets/img/Cloud-Storage.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section-features {
	height: 100vh;
	background: url("/assets/img/cloudstorage-100806486-orig.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section-contact-us {
	height: 100vh;
	background: url("/assets/img/cloud-storage.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Mobile Menu */

.logo {
	font-size: 3rem;
	margin-bottom: 2.5rem;
}
.nav-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.collapse {
	height: 0;
	width: 100%;
	text-align: center;
	transition: all 0.3s linear;
}
.nav-item a {
	padding: 1.5rem 0.5rem;
	border-top: 1px #444 solid;
	display: block;
}
.nav-item a:hover {
	background-color: #444;
}
.ham-menu {
	padding: 2rem;
	cursor: pointer;
	margin-bottom: 2.5rem;
}
.ham-menu:hover {
	background: #444;
}
.ham-menu:hover > .ham-bar::before {
	transform: translate(-0.4rem, 0.6rem);
}
.ham-menu:hover > .ham-bar::after {
	transform: translate(-0.4rem, -0.6rem);
}
.ham-bar {
	background: #999;
	display: block;
	height: 0.2rem;
	width: 2rem;
	border-radius: 0.2rem;
	position: relative;
	transition: all 0.3s ease-out;
}
.ham-bar::before,
.ham-bar::after {
	content: "";
	background: #999;
	display: inline-block;
	height: 0.2rem;
	width: 2rem;
	border-radius: 0.2rem;
	position: absolute;
	transition: all 0.3s ease-out;
}
.ham-bar::before {
	transform: translateY(0.6rem);
}
.ham-bar::after {
	transform: translateY(-0.6rem);
}
#ham-btn {
	display: none;
}
#ham-btn:checked ~ .collapse {
	height: 25rem;
}
#ham-btn:checked ~ .ham-menu .ham-bar {
	transform: translateX(-1rem);
	background: transparent;
}
#ham-btn:checked ~ .ham-menu .ham-bar::before {
	transform: translateX(1rem) rotate(-45deg);
}
#ham-btn:checked ~ .ham-menu .ham-bar::after {
	transform: translateX(1rem) rotate(45deg);
}

/* Desktop Menu */

@media all and (min-width: 1200px) {
	.nav-items {
		width: 80%;
		margin: auto;
		align-items: baseline;
	}
	.ham-menu {
		display: none;
	}
	.collapse {
		height: auto;
		width: auto;
	}
	.nav-item {
		display: inline-block;
		border: none;
	}
	.nav-item a {
		padding: 1rem;
		border: none;
	}
	.nav-item.button .primary {
		margin-left: 5rem;
	}
}
