*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

a {
	color: white;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
}
nav {
	background: #222;
	width: 100%;
	padding: 0.5rem 2rem;
	position: fixed;
}
/* .nav-watermark {
	background: #222;
	height: 9rem;
	width: 100%;
} */
.section-home {
	height: 100vh;
	background: url("/assets/img/Cloud-Storage.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
}
.section-features {
	height: 100vh;
	background: url("/assets/img/cloudstorage-100806486-orig.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
}
.section-contact-us {
	height: 100vh;
	background: url("/assets/img/cloud-storage.png");
	background-position: center center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
}

/* Mobile Menu */

.nav-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.collapse {
	width: 100%;
	text-align: center;
	border-top: 1px #444 solid;
	display: none;
}
.collapse a {
	padding: 1.5rem 0.5rem;
}
.active {
	display: block;
}
.nav-item:not(.collapse) {
	padding: 1.5rem 0.5rem;
}
.nav-item a {
	display: block;
}
.name {
	font-size: 3rem;
}
.ham-menu {
	cursor: pointer;
}
.ham-bar {
	background: #999;
	display: inline-block;
	height: 0.2rem;
	width: 1.8rem;
	position: relative;
}
.ham-bar::before,
.ham-bar::after {
	content: "";
	background: #999;
	display: inline-block;
	height: 0.2rem;
	width: 1.8rem;
	position: absolute;
}
.ham-bar::before {
	top: -1rem;
}
.ham-bar::after {
	top: -0.5rem;
}

/* Tablet Menu */

@media all and (min-width: 768px) {
	.nav-items {
		justify-content: center;
	}
	.nav-item.button a {
		outline: 1px #999 solid;
	}
	.nav-item.button {
		padding: 1.5rem 0.5rem;
	}
	.logo {
		flex: 1;
		order: 0;
	}
	.nav-item.button {
		width: auto;
		display: block;
		order: 1;
		border-top: none;
	}
	.nav-item.button a {
		padding: 0.7rem 1.5rem;
	}
	.ham-menu {
		order: 2;
	}
	.nav-item.link {
		order: 3;
	}
}

/* Desktop Menu */

@media all and (min-width: 992px) {
	.nav-items {
		width: 80%;
		margin: auto;
	}
	.nav-item {
		padding: 1.5rem 1rem;
	}
	.nav-item.button {
		padding: 1.5rem 1rem;
	}
	.collapse {
		display: block;
		width: auto;
		border: none;
	}
	.nav-item.button {
		padding-right: 0;
	}
	.ham-menu {
		display: none;
	}
	.logo {
		order: 0;
	}
	.nav-item.link {
		order: 1;
	}
	.nav-item.button {
		order: 2;
	}
}
